{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link href="{{ asset('css/visualisationVue.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block title %}Entité Commentaire{% endblock %}

{% block body %}
    <h1>Entité Commentaire</h1>
    <h2>{{vu}}</h2>
    {% if nb >= 1 %}
        <table border=1><tr><th>id</th><th>etablissement_id</th><th>texte</th><th>nom_auteur</th><th>date_creation</th><th>note</th><th>selection</th></tr><tr>
        {% for com in articles %}
            <td class='gauche'>{{com.id}}</td>
            <td class='gauche'>{{com.getEtablissement().getId()}}</td>
            <td class='gauche'>«{{com.texte}}»</td>
            <td class='gauche'>{{com.nomAuteur}}</td>
            <td class='droite'>{{com.dateCreation|format_date()}}</td>
            <td class='droite'>{{com.note}}</td>
            <td><a href="{{ path('commentaireEtab_edit',{id:com.id}) }}">Modifier</a></td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        <p>Cet établissement n'a pas de commentaires</p>
    {% endif %}
    <a href="{{ path('etablissement_showall') }}">Retour à la table Etablissement</a>
{% endblock %}